@{
    ViewData["Title"] = "HR Sauce";
}

<div class="card">
    <div class="card-header">
        Welcome to HR Sauce
    </div>
    <div class="card-body">
        <h5 class="card-title">Redefining HR Software</h5>
        <span>Here at HR Sauce we aim to redefine the HR experience with best of breed HR software. Use the menu to navigate the portal and access your HR data with ease.</span>
    </div>
</div>
